<div class="p-5">
	<div class="flex pb-4">
		{% if app.user %}
			<a class="flex w-fit" href="{{path('like.post', {id: post.id})}}" data-action="like">
			{% endif %}


			<img src="{{ asset('/images/like-blue.png') }}" alt="" width="20" class="cursor-pointer filled {{ app.user in post.likes ? '' : 'hidden'}}  "/>
			<img src="{{ asset('/images/like.png') }}" alt="" width="20" class="cursor-pointer unFilled {{ app.user in post.likes ? 'hidden' : ''}} "/>

			<span class="ml-2">
				{% if post.likes | length > 0 %}
					{{ post.likes | length }}
					J'aime{{ post.likes | length > 1 ? 's' : ''}}
				{% else %}
					{#{ post.likes | length }#}
					J'aime

				{% endif %}
			</span>
			{% if app.user %}
			</a>
		{% endif %}
	</div>
</div>
